<!DOCTYPE html>
<html lang="en">

<head >
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>{{ user.name }}'wj 博客</title>
    {% endblock %}
</head  >

<body style = 'margin:auto'>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img class="avatar" src="{{ url_for('static',filename='images/4.jpg') }}" alt="头像">
        {{ user.name }}'wj 博客
    </h2>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('index') }}" class='btn btn-default'>首页</a>
            </li>
            <li style="float: right">
                <a href="{{ url_for('login') }}" class='btn btn-success'>登录</a>
                <a href="{{ url_for('logout') }}" class = 'btn btn-danger'>退出</a>
                <a href="{{ url_for('settings') }}" class = 'btn btn-info'>设置</a>
            </li>
        </ul>
    </nav>
    {% block content %} {% endblock %}
    <footer>
        <small>&copy; 2020 <a href="http://www.bwzn.com">文氏有限公司-Yjingqi</a></small>
    </footer>
</body>

</html>